@model Api_Almoxarifado_Mirvi.Models.ViewModels.FormularioCadastroMaquina
@{
    ViewData["Title"] = "Editar";
    var almoxarifado = ViewBag.AlmoxarifadoId;
}
<h1>@ViewData["Title"]</h1>
<h4>Prateleira</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Maquina.Id" />
            <div asp-validation-summary="All" class="text_danger"></div>
            <div class="form-group">
                <label asp-for="Maquina.Nome" class="control-label"></label>
                <input asp-for="Maquina.Nome" class="form-control" />
                <span asp-validation-for="Maquina.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maquina.Almoxarifado" class="control-label"></label>
                <select asp-for="Maquina.AlmoxarifadoId" asp-items="@(new SelectList(Model.Almoxarifados, "Id", "Nome"))" class="form-control"></select>
                <span asp-validation-for="Maquina.Almoxarifado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" asp-route-almoxarifadoId="@almoxarifado" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<a asp-action="Index" asp-route-almoxarifadoId="@almoxarifado">Voltar para lista</a>
@section Scripts{
    @{
        { await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
}