@model Api_Almoxarifado_Mirvi.Models.ViewModels.FormularioCadastroEndereco
@{
    ViewData["Title"] = "Editar";
}

<h1>@ViewData["Title"]</h1>

<h4>Prateleira</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Endereco.Id" />
            <div class="form-group">
                <label asp-for="Endereco.Nome" class="control-label"></label>
                <input asp-for="Endereco.Nome" class="form-control" />
                <span asp-validation-for="Endereco.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Prateleira do Endereco</p>
                <select asp-for="Endereco.PrateleirasId" asp-items="@(new SelectList(Model.Prateleira, "Id", "Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div><a asp-action="Index">Voltar para lista</a></div>
@section Scripts{
    @{
        { await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
}