﻿@{
    ViewData["Title"] = "Mirvi Brasil";

}
<div class="text-center">
    <h1 class="display-4">Almoxarifado Mirvi Brasil</h1>

    <div class="links-center">
        <ul class="navbar flex-grow-1">
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index">SERVO VALVULA</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index">PNEUMATICOS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index">MATERIAIS ELETRICOS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index">SENSORES</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index">CONEXOES HIDRAULICAS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index">CORREIAS-V</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index">ARMARIO</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index">NETSAL</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index">FUSIVEIS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index">CILINDROS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index">CORREIAS-ELETRICAS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index">FILTROS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index">KASE-MOTORES</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index">HUSKY</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index">MANGUEIRAS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index">PERIFERICOS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index">ROLAMENTOS</a>
            </li>
        </ul>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var links = document.querySelectorAll('.links-center a');

        links.forEach(function (link) {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                var almoxarifadoId = this.getAttribute('data-almoxarifado');
                var searchInputId = 'searchInput' + almoxarifadoId;
                var searchResultsId = 'search-results' + almoxarifadoId;

                hideAllSearchResults();
                showSearchResults(searchResultsId);

                document.getElementById(searchInputId).focus();
            });
        });
    });

    function hideAllSearchResults() {
        var resultsDivs = document.querySelectorAll('.search-results');

        resultsDivs.forEach(function (div) {
            div.style.display = 'none';
        });
    }

    function showSearchResults(resultsId) {
        var resultsDiv = document.getElementById(resultsId);
        resultsDiv.style.display = 'block';
    }

    function searchProducts(inputId, resultsId) {
        // Your existing searchProducts function implementation
    }
</script>
<style>
    .links-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px 10px;
    }

        .links-center li {
            width: calc(33.33%);
            padding: 5px;
            text-align: center;
            text-decoration: none;
            color: white;
            list-style: none;
        }

        .btn-success {
            width: 300px;
            height: 50px;
        }

    .links-center li {
        width: calc(33.33% - 10px);
        padding: 5px;
        text-align: center;
        list-style: none;
    }

    .links-center a {
        display: inline-block;
        width: 90%;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
    }
</style>