﻿@{
    ViewData["Title"] = "Mirvi Brasil";

}
<div class="text-center">
    <h1 class="display-4">Almoxarifado Mirvi Brasil</h1>

    <div class="links-center">
        <ul class="navbar flex-grow-1">
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index" asp-route-reparticaoId="1">SERVO VALVULA</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index" asp-route-reparticaoId="2">PNEUMATICOS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index" asp-route-reparticaoId="3">MATERIAIS ELETRICOS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index" asp-route-reparticaoId="4">SENSORES</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index" asp-route-reparticaoId="5">CONEXOES HIDRAULICAS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index" asp-route-reparticaoId="6">CORREIAS-V</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index" asp-route-reparticaoId="7">CORREIAS-V</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index" asp-route-reparticaoId="8">NETSAL</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index" asp-route-reparticaoId="9">FUSIVEIS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index" asp-route-reparticaoId="10">CILINDROS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index" asp-route-reparticaoId="11">CORREIAS-ELETRICAS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index" asp-route-reparticaoId="12">FILTROS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index" asp-route-reparticaoId="13">KASE-MOTORES</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index" asp-route-reparticaoId="14">HUSKY</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index" asp-route-reparticaoId="15">MANGUEIRAS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index" asp-route-reparticaoId="16">PERIFERICOS</a>
            </li>
            <li>
                <a class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="Index" asp-route-reparticaoId="17">ROLAMENTOS</a>
            </li>
        </ul>
    </div>
</div>
<style>
    .links-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px 10px;
    }

        .links-center li {
            width: calc(33.33%);
            padding: 5px;
            text-align: center;
            text-decoration: none;
            color: white;
            list-style: none;
        }

    .btn-success {
        width: 300px;
        height: 50px;
    }

    .links-center li {
        width: calc(33.33% - 10px);
        padding: 5px;
        text-align: center;
        list-style: none;
    }

    .links-center a {
        display: inline-block;
        width: 90%;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
    }
</style>