@model Api_Almoxarifado_Mirvi.Models.ViewModels.FormularioCadastroCorredor
@{
    ViewData["Title"] = "Editar";
    var almoxarifadoId = ViewBag.AlmoxarifadoId;
}

<h1>@ViewData["Title"]</h1>
<h4>Corredor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Corredor.Id" />
            <div class="form-group">
                <label asp-for="Corredor.Descricao" class="control-label"></label>
                <input asp-for="Corredor.Descricao" class="form-control" />
                <span asp-validation-for="Corredor.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Prateleira do Produto</p>
                <select asp-for="Corredor.AlmoxarifadoId" asp-items="@(new SelectList(Model.Almoxarifados, "Id", "Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" asp-route-almoxarifadoId="@almoxarifadoId" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div><a asp-action="Index" asp-route-almoxarifadoId="@almoxarifadoId">Voltar para lista</a></div>
@section Scripts{
    @{
        { await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
}